<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Portada - Armando Joel</title>
</head>
<body>
<center>
    <div class="container">
        <div class="row">
          <ul class="thumbnails list-unstyled">
            <li class="col-md-5">
              <div class="thumbnail" style="padding: 0">
                <div style="padding:50px">
                  <img alt="300x200" style="width: 80%; border-radius: 150px;" src="./armand.jpg">
                </div>
                <div class="caption">
                  <h2>Armando Joel Rodriguez Sanchez</h2>
                  <p>Portada</p>
                  <p><i class="icon icon-map-marker"></i>Desarrollo Web Avanzado</p>
                  <p><i class="icon icon-map-marker"></i>Octavo Semestre</p>
                  <p>Fecha: 13/05/2022</p>
                </div>
                <div class="modal-footer" style="text-align: left">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">60%</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4"><b>60%</b><br/><small>Guapura</small></div>
                    <div class="col-md-4"><b>$400</b><br/><small>Hora de trabajo</small></div>
                    <div class="col-md-4"><b>30</b><br/><small>Dias</small></div>
                  </div>
                </div>
              </div>
            </li>   
        </div>
    </div>

</center>
    
</body>
</html>